* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Telas.jogo = {
    inicializa() {
        globais.plcar = criaPlacar
    }
}

.game-board {

    width: 100%;
    height: 625px;
    border: 1px solid #333;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    

}

.clouds{
    width: 700px;
    position:absolute;
    animation: clouds-animation 10s infinite linear;
    
}
.restart-button {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
/* estilo para a mensagem "TENTE NOVAMENTE" */
.try-again-message {
    display: none; /* começa oculto */
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: red;
  }
    


.jump{

    animation: jump 500ms ease-out;

}

.pipe{
    position: absolute;
    bottom: 0;
    width: 0;
    width: 100px;
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: -80px;

    }

    to {
        right: 100%;

    }
}


@keyframes jump{

    0%{
        bottom: 0;
    }

    50%{
        bottom: 180px;
    }

    100%{
        bottom: 0;

    }
}

@keyframes clouds-animation{
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}
